.MainColumnMain{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}
.messagesArea{
    min-width: 100%;
    min-height: 89%;
}
.inputMessageForm{
    flex-direction: row;
    display: flex;
    min-height: fit-content;
    position: sticky;
    width: inherit;
    bottom: 0;
}

.messageTextArea{
    width: 90%;
    height: 100%;
}

.messageTextAreaTA:focus{
    outline: none;
}

.messageTextAreaTA{
    display: block;
    min-width: 100%;
    resize: none;
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.messageSendButton{
    width: 12%;
    border: none;
}
.message{
    min-height: 2rem;
    border-radius: .8rem;
    padding: .2rem;
    display: flex;
}
.messagAavatar{
    max-width: 3rem;
}
.messageContainer{
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse !important;
}

.messageText{
    padding-left: .3rem;
    word-wrap: break-word;
    word-break: break-all; 
}
.myMessageDate{
    float: right;
}

.ownerOfMessage{
    font-weight: 900;
}