body {
  margin: 0;
  /* font-family: cursive; */
  font-family: Tahoma, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  /* needs width to be descibed */
.hor-center {
  margin-left: auto;
  margin-right: auto;
}

.ver-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scrollbarstyle::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.scrollbarstyle::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.scrollbarstyle::-webkit-scrollbar-thumb
{
  background-color: #000000;
}