[data-theme="light"] {
  --bg-color-primary: rgb(187, 196, 240);
  --bg-color-secondary: rgb(174, 185, 246);
  --bg-color-header-footer: rgb(133, 147, 231);
  --bg-color-small-elements: rgb(145, 157, 215);
  --bg-hover-small-elements: rgb(108, 120, 199);
  --bg-operational-btn: #fdafda;
  --bg-modal: #ffffff;
  
  --slider: #000000;
  --slider-bg: #bfc4f3;

  --font-primary: rgb(49, 49, 49);
  --font-secondary: rgb(71, 71, 71);
}

[data-theme="dark"] {
  --bg-color-primary: rgb(40, 46, 77);
  --bg-color-secondary: rgb(34, 39, 65);
  --bg-color-header-footer: rgb(21, 24, 41);
  --bg-color-small-elements: rgb(54, 64, 116);
  --bg-hover-small-elements: rgb(64, 77, 153);
  --bg-operational-btn: #189925;
  --bg-modal: #282525;
  
  --slider: #F5F5F5;
  --slider-bg: #000000;

  --font-primary: rgb(236, 236, 236);
  --font-secondary: rgb(149, 149, 149);
}

.customModal > .modal-dialog > .modal-content{
  background-color: var(--bg-modal) !important;
  color: var(--font-primary) !important;
}

.customOperationalButton{
  background-color: var(--bg-operational-btn) !important;
  color: var(--font-primary) !important;
}

body {
  margin: 0;
  /* font-family: cursive; */
  font-family: Tahoma, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-primary) !important;
}

body,
html {
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  /* needs width to be descibed */
.hor-center {
  margin-left: auto;
  margin-right: auto;
}

.ver-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scrollbarstyle::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: var(--slider-bg);
}

.scrollbarstyle::-webkit-scrollbar
{
  width: 6px;
  background-color: var(--slider-bg);
}

.scrollbarstyle::-webkit-scrollbar-thumb
{
  background-color: var(--slider);
}

.scrollbarstyleWhite::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: var(--slider);
}

.scrollbarstyleWhite::-webkit-scrollbar
{
  width: 6px;
  background-color: var(--slider);
}

.scrollbarstyleWhite::-webkit-scrollbar-thumb
{
  background-color: var(--slider-bg);
}

.backGroundColorBlack{
  background-color: var(--bg-color-primary);
}

.backGroundColorSideColumnBlack{
  background-color: var(--bg-color-secondary);
}

.backGroundColorHeaderFooterBlack{
  background-color: var(--bg-color-header-footer);
}

.listElementBGColor{
  background-color: var(--bg-color-small-elements);
}