[data-theme="light"] {
  --bg-color-primary: rgb(187, 196, 240);
  --bg-color-secondary: rgb(174, 185, 246);
  --bg-color-header-footer: rgb(133, 147, 231);
  --bg-color-small-elements: rgb(145, 157, 215);
  --bg-hover-small-elements: rgb(108, 120, 199);
  --bg-operational-btn: #fdafda;
  --bg-modal: #ffffff;
  
  --slider: #000000;
  --slider-bg: #bfc4f3;

  --font-primary: rgb(66, 66, 66);
  --font-secondary: rgb(71, 71, 71);

  /* loading */
  --loading-background: rgba(179, 179, 179, 0.712);

  /* signup */
  --light: hsl(0, 0%, 15%);
  --border-color: hsla(0, 0%, 100%, .2);
  --global-background: hsl(220, 25%, 10%);
  --background: linear-gradient(to right, hsl(272, 26%, 61%), hsl(306, 58%, 78%));
  --shadow-1: rgba(191, 64, 180, 0.329);
  --shadow-2: rgba(139, 9, 89, 0.445);
}

[data-theme="dark"] {
  --bg-color-primary: rgb(40, 46, 77);
  --bg-color-secondary: rgb(34, 39, 65);
  --bg-color-header-footer: rgb(21, 24, 41);
  --bg-color-small-elements: rgb(54, 64, 116);
  --bg-hover-small-elements: rgb(64, 77, 153);
  --bg-operational-btn: #0d6efd;
  --bg-modal: #282525;
  
  --slider: #F5F5F5;
  --slider-bg: #000000;

  --font-primary: rgb(236, 236, 236);
  --font-secondary: rgb(149, 149, 149);

  /* loading */
  --loading-background: rgba(69, 69, 69, 0.712);

/* signup */
  --light: hsl(220, 50%, 90%);
  --border-color: hsla(0, 0%, 100%, .2);
  --global-background: hsl(220, 25%, 10%);
  --background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
  --shadow-1: hsla(236, 50%, 50%, .3);
  --shadow-2: hsla(236, 50%, 50%, .4);
}

.customSignUp {
  border: none;
  background-color: transparent !important;
}
.customSignUp > .card-body {
  color: var(--light);
  background: var(--background);
  box-shadow: var(--m-shadow, .4rem .4rem 10.2rem .2rem) var(--shadow-1);
  border-radius: 2rem;
}

.LoginRegistrationPageContainer{
  background: var(--global-background);
}

.customModal > .modal-dialog > .modal-content{
  background: var(--background);
  box-shadow: var(--m-shadow, .4rem .4rem 10.2rem .2rem) var(--shadow-1);
  color: var(--light) !important;
}

.customOperationalButton{
  background-color: var(--bg-operational-btn) !important;
  color: var(--font-primary) !important;
}

body {
  margin: 0;
  /* font-family: cursive; */
  font-family: Tahoma, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-primary) !important;
}

* {
  transition: color .05s ease-in-out,
    background-color .05s ease-in-out,
    border-color .05s ease-in-out,
    box-shadow .05s ease-in-out;
}

body,
html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  /* needs width to be descibed */
.hor-center {
  margin-left: auto;
  margin-right: auto;
}

.ver-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scrollbarstyle::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: var(--slider-bg);
}

.scrollbarstyle::-webkit-scrollbar
{
  width: 6px;
  background-color: var(--slider-bg);
}

.scrollbarstyle::-webkit-scrollbar-thumb
{
  background-color: var(--slider);
}

.scrollbarstyleWhite::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: var(--slider);
}

.scrollbarstyleWhite::-webkit-scrollbar
{
  width: 6px;
  background-color: var(--slider);
}

.scrollbarstyleWhite::-webkit-scrollbar-thumb
{
  background-color: var(--slider-bg);
}

.backGroundColorBlack{
  background-color: var(--bg-color-primary);
}

.backGroundColorSideColumnBlack{
  background-color: var(--bg-color-secondary);
}

.backGroundColorHeaderFooterBlack{
  background-color: var(--bg-color-header-footer);
}

.listElementBGColor{
  background-color: var(--bg-color-small-elements);
}

.changeVariationBtn{
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: hsl(220, 50%, 90%);
}

.changeVariationBtn:hover{
  color: hsl(221, 52%, 65%);
}

.loadingBackground{
  background-color: var(--loading-background);
}