.headerMain{
    height: 100%;
}

.logo{
    position: relative;
    max-width: 9rem;
    height: auto;
    cursor: pointer;
}

.unsubscribedLabel{
    display: block;
    margin: 0;
    color: var(--font-secondary);
    font-size: .9rem;
}

.channelTitle{
    color: var(--font-primary);
    font-weight: 800;
    font-size: 1.1rem;
}